
html, body {
    margin: 0;
    padding: 0;
}
  
#canvas {
    position: absolute;
    top: -192px;
    left: 0;
    background-image: url('../assets/images/world2.png'), url('../assets/images/BG.png');
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
}

#wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

#camera{
    position: relative;
    width: 320px;
    height: 448px;
    overflow: hidden;
    background-color: rgb(255, 64, 198);
}

/* @media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
} */
